<h1>All Articles</h1>
<ul id="articles">
  <% @articles.each do |article| %>
    <li>
    	<button class="button">
      <%= link_to article.title, article_path(article) %>
  </button>
  <br>
    </li>
  <% end %>
</ul>

<button class="button"><%= link_to 'Create a new article.', new_article_path, remote: true %></button>
<br>

<div id="task-form" style="display:none;"></div>
