$primary_color: #AAA;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: white;
  padding: 20px 40px 500px;
  border: solid 2px black;
  margin-top: 0px;
  margin-down: 40px;
}

#content {
  clear: both;
  padding-top: 20px;
}

.tag {
  background-color: white;
  max-width: 10px;
  max-heigth: 10px;
}

.show-tag-side{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tag-padding{
  margin-left: 100px;
}

.img{
  max-height: 10px;
  background: white;
}
.button{
  background: white;
  transition-duration: 0.4s;
}
.button:hover{
  background: black;
}
.button:hover a{
  font-size: 16px;
  color: white;
}
.button a{
  font-size: 12px;
  color: black;
}
.header{
  width: 75%;
  padding: 20px 40px;
  margin: 0 auto;
  border: solid 2px black;
  text-align: right;
  background: white;
}